<div>
    <h1 class="center padding50">Turisticka agencija</h1>
    
    <div>
        <p class="padding50">Nasa kompanija vam nudi odlazak na najrazlicitija putovanja: </p>
    </div>

    <h3 class="padding-left50">Letnje destinacije</h3>
    <ul class="padding-left50">
        <li>Gradovi Evrope</li>
        <li>Afrika</li>
        <li>Juzna Amerika</li>
    </ul>

    <br />
    <br />
    <br />
    <br />
    <h3 class="padding-left50">Zimske destinacije</h3>
    <ul class="padding-left50">
        <li>Alpi</li>
        <li>Karpati</li>
        <li>Terme (Slovenija)</li>
    </ul>
</div>